<div class="control-group">
  <label for="user" class="control-label">user</label>
  <div class="controls">
    <%- contentTag('input', usersModel.user, {type:'text', class:'span6', name:'user'}) %>
  </div>
</div>
<div class="control-group">
  <label for="password" class="control-label">password</label>
  <div class="controls">
    <%- contentTag('input', '', {type:'password', class:'span6', name:'password'}) %>
  </div>
</div>


<!-- 
<div class="control-group">
  <label for="count" class="control-label">count</label>
  <div class="controls">
    <%- contentTag('input', usersModel.count, {type:'number', class:'span2', name:'count'}) %>
  </div>
</div>
 -->