
<!DOCTYPE html> 

<html>
<body>
<div id="home" class="hero-unit">

<!-- <center>
 -->
  <div id="welcome-message" class="message" style="font-family:verdana;font-size:24px;">
  </div>
  <br>

  <div id="input-fields">
      <form>

      username: <input id="username" type="text" name="username" value="" ><br>
      password: <input id="password" type="text" name="password" value="" ><br>

      <button id="login-button" type="button" value="Login" onclick="loginClick()"></button> 
      <button id="add-button" type="button" style="height:25px;width:100px" value="Add User" onclick="addClick()"></button>


    </form>
  </div>

  <div id="logout-buttons">
    <button id="logout-button" type="button" style="height:25px;width:100px" value="Logout" onclick="logoutClick()"></button>
  </div>




<!-- </center> -->
</div>

<script type="text/javascript">
$(document).ready(function (response) {
  //Uncheck the inputs
  console.log("reached document.ready");
  $('#welcome-message').html("Please enter your credentials below");
  $('#logout-buttons').hide();

});


var loginClick = function(){
  console.log("login clicked");
  username = $("#username").val();
  password = $("#password").val();
  $.post("/users/login/", {user: username, password: password}, 
    function(data){

      handleLoginResponse(username,data);

      //alert(data.errCode);
      }, 'json');
  return false;
};


// $("#add").click(function(){

var addClick = function(){
  console.log("add clicked");
  username = $("#username").val();
  password = $("#password").val();
  $.post("/users/add/", {user: username, password: password}, 
    function(data){

      handleAddResponse(username,data);

      //alert(data.errCode);
      }, 'json');
  return false;
};

var logoutClick = function(){

  console.log("logoutClicked");
  $('#input-fields').show();
  $('#welcome-message').show();
  $('#welcome-message').html("Please enter your credentials below");
  $('#logout-buttons').hide();
  $('#username').value="";
  $('#password').value="";

  return false;

};


var handleLoginResponse = function(user, data){

  console.log("reached handleloginresponse");


  errCode = data.errCode;
  if(errCode == 1){
    loginCount = data.count;
    $('#welcome-message').show();
    $('#welcome-message').html("Welcome "+user+"<br>You have logged in "+loginCount+" times.");
    $('#logout-buttons').show();
    $('#input-fields').hide();

  } else if(errCode == -1){

    $('#welcome-message').show();
    $('#welcome-message').html("Invalid username and password combination. Please try again.");
  }

};


var handleAddResponse = function(user, data){

  console.log("reached handleloginresponse");


  errCode = data.errCode;
  if(errCode == 1){
    loginCount = data.count;
    $('#welcome-message').show();
    $('#welcome-message').html("Welcome "+user+"<br>You have logged in "+loginCount+" times.");
    $('#logout-buttons').show();
    $('#input-fields').hide();

  } else if(errCode == -2){

    $('#welcome-message').show();
    $('#welcome-message').html("This user name already exists. Please try again.");
  } else if(errCode == -3){

    $('#welcome-message').show();
    $('#welcome-message').html("The user name should be non-empty and at most 128 characters long. Please try again.");
  } else if(errCode == -4){

    $('#welcome-message').show();
    $('#welcome-message').html("The password should be at most 128 characters long. Please try again." );
  }


};



</script>
</body>
</html>

