
<!DOCTYPE html> 

<html>
<body>
<div class="hero-unit">

<center>

  <div id="welcome-message" class="hidden">
    <legend>Welcome</legend>
  </div>

  <div id="error1-message" class="hidden">
    <legend>error1</legend>
  </div>

  <div id="error2-message" class="hidden">
    <legend>error2</legend>
  </div>

  <div id="error3-message" class="hidden">
    <legend>error3</legend>
  </div>

  <div id="error4-message" class="hidden">
    <legend>error4</legend>
  </div>

  username: <input id="username" type="text" name="username" value="" ><br>
  password: <input id="password" type="text" name="password" value="" ><br>
  <button id="login" type="submit" value="Login" onclick="loginClick()"></button> 
  <button id="add" type="submit" value="Add" onclick="addClick()"></button>
  <button id="logout" type="submit" value="Logout" class="hidden" onclick="logoutClick()"></button>


</center>
</div>

<script type="text/javascript">



var loginClick = function(){
  console.log("login clicked");
  username = $("#username").val();
  password = $("#password").val();
  $.post("/users/login/", {user: username, password: password}, 
    function(data){

      handleLoginResponse(username,data);

      alert(data.errCode);
      return false;
      }, 'json');
  return false;
};


// $("#add").click(function(){

var addClick = function(){
  console.log("add clicked");
  username = $("#username").val();
  password = $("#password").val();
  $.post("/users/add/", {user: username, password: password}, 
    function(data){
      console.log("reached handleaddresponse");
      alert(data.errCode);
      return false;
    }, 'json');
  return false;
};

var handleLoginResponse = function(user, data){

  console.log("reached handleloginresponse");


  errCode = data.errCode;
  if(errCode == 1){
    loginCount = data.count;
    $('#welcome-message').show();
    $('#welcome-message').html("Welcome "+user+"<br>You have logged in "+loginCount+" times.");
    $('#logout').show();
    $('#login').hide();
    $('#add').hide();

  } else if(errCode == -1){

    $('#welcome-message').html("errorCode -1");
    $('#welcome-message').show();


  } else if(errCode == -2){

    $('#welcome-message').html("errorCode -2");
    $('#welcome-message').show();

  } else if(errCode == -3){

    $('#welcome-message').html("errorCode -3");
    $('#welcome-message').show();

  } else if(errCode == -4){

    $('#welcome-message').html("errorCode -4");
    $('#welcome-message').show();

  }


};


</script>
</body>
</html>

