



















<div class="fuckyou">

  <form id="usersModel-form" class="form-horizontal" action="/users/serverCall" method="POST">
    <fieldset>
      <legend>Welcome to the login app</legend>
      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>

      <%- partial('form', {usersModel: {}}) %>

      <div class="form-actions">
        <%- contentTag('input', 'Login', {type: 'submit', class: 'btn btn-primary',value:'login', name: 'button'}) %>
        <%- contentTag('input', 'Add', {type: 'submit', class: 'btn btn-primary', value: 'add', name: 'button'}) %>
      </div>
    </fieldset>
  </form>
</div>