
<!DOCTYPE html> 

<html>
<body>
<div id="home" class="hero-unit">

<center>

  <div id="welcome-message" class="message">
  </div>

  <div id="input-fields" class="input">
    <form>

      username: <input id="username" type="text" name="username" value="" ><br>
      password: <input id="password" type="text" name="password" value="" ><br>

    </form>
  </div>

  <div id="login/add-buttons">
    <button id="login-button" type="submit" value="Login" onclick="loginClick()"></button> 
    <button id="add-button" type="submit" value="Add" onclick="addClick()"></button>
  </div>

  <div id="logout-buttons">
    <button id="logout-button" type="submit" value="Logout" onclick="logoutClick()"></button>
  </div>


</center>
</div>

<script type="text/javascript">
$(document).ready(function (response) {
  //Uncheck the inputs
  console.log("reached document.ready");
  document.getElementById("logout-button").style.visibility = "hidden";
  $('#welcome-message').html("Please enter your credentials below");
  $('#logout-buttons').hide();

});


var loginClick = function(){
  console.log("login clicked");
  username = $("#username").val();
  password = $("#password").val();
  $.post("/users/login/", {user: username, password: password}, 
    function(data){

      handleLoginResponse(username,data);

      alert(data.errCode);
      return false;
      }, 'json');
  return false;
};


// $("#add").click(function(){

var addClick = function(){
  console.log("add clicked");
  username = $("#username").val();
  password = $("#password").val();
  $.post("/users/add/", {user: username, password: password}, 
    function(data){
      console.log("reached handleaddresponse");
      alert(data.errCode);
      return false;
    }, 'json');
  return false;
};

var handleLoginResponse = function(user, data){

  console.log("reached handleloginresponse");


  errCode = data.errCode;
  if(errCode == 1){
    loginCount = data.count;
    $('#welcome-message').show();
    $('#welcome-message').html("Welcome "+user+"<br>You have logged in "+loginCount+" times.");
    $('#logout-buttons').show();
    $('#login/add-buttons').hide();
    $('#input-fields').hide();

  } else if(errCode == -1){

    $('#welcome-message').show();
    $('#welcome-message').html("errorCode -1");
    

  } else if(errCode == -2){

    $('#welcome-message').show();
    $('#welcome-message').html("errorCode -2");

  } else if(errCode == -3){

    $('#welcome-message').show();
    $('#welcome-message').html("errorCode -3");

  } else if(errCode == -4){

    $('#welcome-message').show();
    $('#welcome-message').html("errorCode -4");

  }


};


</script>
</body>
</html>

